Skip to content
This repository
Search
Pull requests
Issues
Marketplace
Explore
 @iannet
Sign out
 Unwatch 1
 Star 0  Fork 1 iannet/750CartAPI
 Code  Issues 0  Pull requests 0  Projects 0  Wiki  Insights  Settings
Branch: master Find file Copy path 750CartAPI/apiary.apib
682a794  on Feb 6
@iannet iannet Transferring API Description file from Apiary.io
1 contributor
RawBlameHistory    
1255 lines (619 sloc)  127 KB
FORMAT: 1A
HOST: https://api.securecheckout.com/v1/cart/

# Figure Cart

Figure Cart is an API for creating customer facing applications powered by the Figure Commerce e-commerce platform.

## Headers

There are 3 HTTP Headers used by the cart API:

+ Content-Type
+ X-Auth-Token
+ X-Session-Id

The *Content-Type* header is a standard header and should be set to application/json for all requests.

The *X-Auth-Token* header is used to authenticate with the API server. To obtain an API key for your application you will need to contact Offset Partners LLC to request access.

The *X-Session-Id* header is used to identify the current client session for a request in order to maintain state across API calls. It should be a unique token for each client session and must be used when accessing cart state or when accessing user data that requires a user to logged-in to access.



## Group Addresses
Resources related to Addresses.


## Addresses [/addresses]


### Create New Shipping Address [POST /addresses]


+ Request (application/json)

  + Attributes
      + address (string, required) - Street Address
      + address_2 (string, optional) - Unit Number
      + city (string, required) - City
      + first_name (string, required) - Receipient First Name
      + last_name (string, required) - Recipient Last Name
      + phone (string, optional) - Recipient Phone Number
      + state (string, required) - State
      + title (string, optional) - Address Title
      + zip (string, required) - Zip Code
  
    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX
    + Body

            {"title":"ShippingAddress","first_name":"Ian","last_name":"Tucker","address":"523 Brown St","city":"Napa","state":"CA","zip":"94559","address_2":"","phone":"707-501-7491"}

+ Response 200 (application/json)

    + Body

            "4093"



### Delete Shipping Address [DELETE /addresses/{id}]

+ Parameters
  + id (number, required) - Address Id


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            null



### Get Address Details [GET /addresses/{id}]

+ Parameters
  + id (number, required) - Address Id


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"id":"4083","hash":"1507db3fe24c85fcaa9d45c17e188f9473a538b7","created":"2015-11-19 15:27:30","title":"ShippingAddress","first_name":"Ian","last_name":"Tucker","birthday":"0000-00-00","company":"","phone":"707-501-7491","email":"","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94558","zip_ext":"","country":"US","residential":"0","customer_id":"2","default":"0","public":"0"}



### Get List of Shipping Addresses [GET /addresses]


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"21":{"id":"21","hash":"2a2bf355a2e592ac2900e92c07c2b88a39e8823f","created":"2016-05-03 22:00:46","title":"Home","first_name":"Example","last_name":"User","birthday":"1990-06-01","company":"750 Group","phone":"","email":"","address":"523 Brown St","address_2":"Ste 750","city":"Napa","state":"CA","zip":"94559","zip_ext":"","country":"US"},"22":{"id":"22","hash":"2a2bf355a2e592ac2900e92c07c2b88a39e8823f","created":"2016-05-03 22:00:46","title":"Work","first_name":"Example","last_name":"User","birthday":"1990-06-01","company":"750 Group","phone":"","email":"","address":"523 Brown St","address_2":"Ste 750","city":"Napa","state":"CA","zip":"94559","zip_ext":"","country":"US"}}



### Update Shipping Address [PUT /addresses/{id}]

+ Parameters
  + id (number, required) - Address Id


+ Request (application/json)

  + Attributes
      + address (string, optional) - Street Address
      + address_2 (string, optional) - Unit Number
      + city (string, optional) - City
      + company (string, optional) - Company Name
      + first_name (string, optional) - First Name
      + last_name (string, optional) - Last Name
      + phone (string, optional) - Phone Number
      + state (string, optional) - State
      + title (string, optional) - Address Title
      + zip (string, optional) - Zip Code
  
    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX
    + Body

            {"title":"ShippingAddress","first_name":"Ian","last_name":"Tucker","phone":"707-501-7491","company":"","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559"}

+ Response 200 (application/json)

    + Body

            {"ServerFault":{"code":404,"message":"Not Found.","details":""}}

## Default Address [/addresses/default]


### Get Default Shipping Address [GET /addresses/default]


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"id":"3977","hash":"9bce06b92cb56db1b364ba4b2dacaefb7df52583","created":"2015-11-19 15:27:30","title":"ShippingAddress","first_name":"Ian","last_name":"Tucker","birthday":"0000-00-00","company":"","phone":"7075017491","email":"","address":"2210 Tejas Ave","address_2":"","city":"Napa","state":"CA","zip":"94559","zip_ext":"","country":"US","residential":"0","customer_id":"2","default":"1","public":"0"}



### Set Default Shipping Address [PUT /addresses/default]


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX
    + Body

            "4083"

+ Response 200 (application/json)

    + Body

            null

## Group Authentication
Resources related to Authentication.


## Authentication [/auth]


### Authenticate User [POST /auth]


+ Request (application/json)

  + Attributes
      + password (string, required) - Customer Password
      + username (string, required) - Customer Username
  
    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX
    + Body

            {"username":"example@figurecommerce.com","password":"XXXXXX"}

+ Response 200 (application/json)

    + Body

            {"id":"1","first_name":"John","last_name":"Doe","email":"example@figurecommerce.com","status":"Active","state":"CA","order_count":"0","order_total":"0.00","last_order":"0000-00-00 00:00:00","last_order_total":"0.00","created":"2016-04-20 15:53:28","affiliate_id":"XXXXXXXXX","birthday":"1/1/2000","credits":"100.00","phone":"555-555-5555"}



### Check if Account Username Exists [GET /auth/username/{username}]

+ Parameters
  + username (string, required) - Customer Username


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Create New Customer Profile [POST /auth/customer]


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX
            X-Auth-Token:XXXXXXXXXX
    + Body

            {"first_name":"Ian","last_name":"Tucker","username":"example@figurecommerce.com","password": "XXXXXXXX","state": "CA"}

+ Response 200 (application/json)

    + Body

            12



### Delete Session [POST /auth/logout]





### Email Password Rest Token [POST /auth/send_token]


+ Request (application/json)

  + Attributes
      + username (string, required) - Customer Email Address
  
    + Headers

            X-Session-Id:XXXXXXXXX
            X-Auth-Token: XXXXXXXXXXXX
    + Body

            {"username":"example@figurecommerce.com"}

+ Response 200 (application/json)

    + Body

            true



### Get Account Details By Username [GET /auth/username/{username}/details]

+ Parameters
  + username (string, required) - Customer Username





### Reset Password Using Token [POST /auth/reset]


+ Request (application/json)

  + Attributes
      + new_password (string, required) - New Password for Customer Account
      + token (string, required) - Token returned by Email Password Reset Token method call
  
    + Headers

            X-Session-Id:XXXXXXXXX
            X-Auth-Token: XXXXXXXXXXXX
    + Body

            {"token":"XXXXXX","password":"XXXXXXXX"}

+ Response 200 (application/json)

    + Body

            true



### Update Account Password [PUT /auth/password]


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX
    + Body

            "XXXXXXXX"

+ Response 200 (application/json)

    + Body

            true



### Update Account Username [PUT /auth/username]


+ Request (application/json)
  
    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX
    + Body

            "example@figurecommerce.com"

+ Response 200 (application/json)

    + Body

            true

## Group Cart
Resources related to Cart.


## Cart [/cart]


### Apply Promo Code to Cart [PUT /promo_code/{code}]

+ Parameters
  + code (string, required) - Promo Code


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Empty Cart [DELETE /]





### Get Cart Information [GET /]


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"subtotal":"0.00","credits":0,"discount":"0.00","shipping":"0.00","tax_rate":0,"tax":0,"total":"0.00","item_count":"","items":[],"config":{"customer_id":"0","address_id":"","payment_id":"","club_id":"","ship_method_id":"3","ship_method_address_lock":"0"},"shipment":{"address":false}}



### Select Payment Method for Cart [PUT /payment/{id}/select]

+ Parameters
  + id (number, required) - Payment Id


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"subtotal":"540.00","credits":0,"discount":"0.00","shipping":"0.00","tax_rate":"10","tax":"54.00","total":"594.00","item_count":"12","items":{"12312312312":{"session":"ndqojtbleqonj6f41tirpagjr6","sku":"12312312312","quantity":"12","price":"45.00","description":"2014 Ros\u00e9 Napa Valley","expires":"2016-03-07 00:56:17","reserve_inventory":"0","id":"14","name":"2014 Rosu00e9","status":"Active","accolades_01":"","additional_description":"\\\"Unreal. A Napa Valley Cab that is truly worthy drinking.\\\"<br>u2014Wine Review Online","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"1","bottle_size":"","case_production":"60","cost":"0.00","country":"","custom01":"","custom02":"","custom03":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2007","image":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/product\/12312312312-1725.jpg","image_alt":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/product-alt\/AV10NVCS-4211.jpg","label":"","max_purchase_quantity":"36","min_purchase_quantity":"","not_availible_message":"","oak":"40% new, 60% 2 year old","ph":"","product_category":"Wine","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 1, 2012","residual_sugar":"","retail_price":"65.00","review":"Hello","reviewer":"Acme","score":"99","shipping_included":"0","shipping_offer_min":"","short_description":"Destined to be a classic example of an outstanding vintage from the legendary Napa Valley.","soil":"","stainless":"","starting_quantity":"99","status_availability":"Active","subtitle":"Napa Valley","sub_region":"","ta":".06","tasting_notes_pdf":"","tax_exempt":"0","upc":"","varietal":"","vineyard":"Black Hawk","vintage":"2007","winemaker":"Pepe LePepe","wine_type":"RED","categories":null}},"config":{"shipping_state":"CA","shipping_zip":"94559","customer_id":"2","address_id":"4093","payment_id":"6","club_id":"","ship_method_id":"3","ship_method_address_lock":"0"},"shipment":{"address":{"id":"4093","hash":"a187902adebd6b1aab810511fabcf475e4f5c8e2","created":"2016-03-07 00:28:00","title":"ShippingAddress","first_name":"Ian","last_name":"Tucker","birthday":"0000-00-00","company":"","phone":"707-501-7491","email":"","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","zip_ext":"","country":"US","residential":"0","customer_id":"2","default":"0","public":"0"}}}



### Select Shipping Address for Cart [PUT /address/{id}/select]

+ Parameters
  + id (number, required) - Address Id


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"subtotal":"540.00","credits":0,"discount":"0.00","shipping":"0.00","tax_rate":"10","tax":"54.00","total":"594.00","item_count":"12","items":{"12312312312":{"session":"ndqojtbleqonj6f41tirpagjr6","sku":"12312312312","quantity":"12","price":"45.00","description":"2014 Ros\u00e9 Napa Valley","expires":"2016-03-07 00:56:17","reserve_inventory":"0","id":"14","name":"2014 Rosu00e9","status":"Active","accolades_01":"","additional_description":"\\\"Unreal. A Napa Valley Cab that is truly worthy drinking.\\\"<br>u2014Wine Review Online","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"1","bottle_size":"","case_production":"60","cost":"0.00","country":"","custom01":"","custom02":"","custom03":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2007","image":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/product\/12312312312-1725.jpg","image_alt":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/product-alt\/AV10NVCS-4211.jpg","label":"","max_purchase_quantity":"36","min_purchase_quantity":"","not_availible_message":"","oak":"40% new, 60% 2 year old","ph":"","product_category":"Wine","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 1, 2012","residual_sugar":"","retail_price":"65.00","review":"Hello","reviewer":"Acme","score":"99","shipping_included":"0","shipping_offer_min":"","short_description":"Destined to be a classic example of an outstanding vintage from the legendary Napa Valley.","soil":"","stainless":"","starting_quantity":"99","status_availability":"Active","subtitle":"Napa Valley","sub_region":"","ta":".06","tasting_notes_pdf":"","tax_exempt":"0","upc":"","varietal":"","vineyard":"Black Hawk","vintage":"2007","winemaker":"Pepe LePepe","wine_type":"RED","categories":null}},"config":{"shipping_state":"CA","shipping_zip":"94559","customer_id":"2","address_id":"4093","payment_id":"6","club_id":"","ship_method_id":"3","ship_method_address_lock":"0"},"shipment":{"address":{"id":"4093","hash":"a187902adebd6b1aab810511fabcf475e4f5c8e2","created":"2016-03-07 00:28:00","title":"ShippingAddress","first_name":"Ian","last_name":"Tucker","birthday":"0000-00-00","company":"","phone":"707-501-7491","email":"","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","zip_ext":"","country":"US","residential":"0","customer_id":"2","default":"0","public":"0"}}}



### Select Shipping Method for Cart [PUT /shipping_method/{id}/select]

+ Parameters
  + id (number, required) - Shipping Method Id


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"subtotal":"540.00","credits":0,"discount":"0.00","shipping":"0.00","tax_rate":"10","tax":"54.00","total":"594.00","item_count":"12","items":{"12312312312":{"session":"ndqojtbleqonj6f41tirpagjr6","sku":"12312312312","quantity":"12","price":"45.00","description":"2014 Ros\u00e9 Napa Valley","expires":"2016-03-07 00:56:17","reserve_inventory":"0","id":"14","name":"2014 Rosu00e9","status":"Active","accolades_01":"","additional_description":"\\\"Unreal. A Napa Valley Cab that is truly worthy drinking.\\\"<br>u2014Wine Review Online","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"1","bottle_size":"","case_production":"60","cost":"0.00","country":"","custom01":"","custom02":"","custom03":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2007","image":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/product\/12312312312-1725.jpg","image_alt":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/product-alt\/AV10NVCS-4211.jpg","label":"","max_purchase_quantity":"36","min_purchase_quantity":"","not_availible_message":"","oak":"40% new, 60% 2 year old","ph":"","product_category":"Wine","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 1, 2012","residual_sugar":"","retail_price":"65.00","review":"Hello","reviewer":"Acme","score":"99","shipping_included":"0","shipping_offer_min":"","short_description":"Destined to be a classic example of an outstanding vintage from the legendary Napa Valley.","soil":"","stainless":"","starting_quantity":"99","status_availability":"Active","subtitle":"Napa Valley","sub_region":"","ta":".06","tasting_notes_pdf":"","tax_exempt":"0","upc":"","varietal":"","vineyard":"Black Hawk","vintage":"2007","winemaker":"Pepe LePepe","wine_type":"RED","categories":null}},"config":{"shipping_state":"CA","shipping_zip":"94599","customer_id":"2","address_id":"3965","payment_id":"","club_id":"","ship_method_id":"10","ship_method_address_lock":"1"},"shipment":{"address":{"id":"3965","hash":"bfab412052946c7bc56c67d8d307071444bffb63","created":"2015-11-19 15:27:30","title":"","first_name":"Ian","last_name":"Tucker","birthday":"0000-00-00","company":"c\/o Acme Vineyards","phone":"7075017491","email":"","address":"6484 Winery Street","address_2":"","city":"Yountville","state":"CA","zip":"94599","zip_ext":"","country":"US","residential":"0","customer_id":"","default":"0","public":"0"}}}



### Set Cart Metadata [PUT /config]


+ Request (application/json)

  + Attributes
      + shipping_state (string, optional) - 
  
    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX
    + Body

            {"shipping_state":"CA","insurance":"1"}

+ Response 200 (application/json)

    + Body

            null

## Cart Items [/cart/items]


### Add Item to Cart [POST /items]


+ Request (application/json)

  + Attributes
      + quantity (number, optional) - Quantity to Add
      + sku (string, required) - Product SKU
  
    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX
    + Body

            {"sku":"12312312312","quantity":"3"}

+ Response 200 (application/json)

    + Body

            true



### Remove Item [DELETE /items/{sku}]

+ Parameters
  + sku (string, required) - Product SKU


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token:XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Update Quantity [PUT /items/{sku}/{quantity}]

+ Parameters
  + quantity (number, required) - New Quantity
  + sku (string, required) - Product SKU


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            true

## Cart Place Order [/cart/orders]


### Checkout [POST /orders]


+ Request (application/json)

  + Attributes
      + address (string, optional) - Billing Street Address
      + address_2 (string, optional) - Billing Unit Number
      + city (string, optional) - Billing City
      + company (string, optional) - Company Name
      + credit_id (string, optional) - Payment Id
      + gift_message (string, optional) - Gift Message
      + instructions (string, optional) - Shipping Instructions
      + order_type (string, optional) - Order Type
      + requested_ship_date (string, optional) - Requested Ship Date
      + shipping_address (string, optional) - Shipping Street Addresss
      + shipping_address_2 (string, optional) - Shipping Unit Number
      + shipping_city (string, optional) - Shipping City
      + shipping_company (string, optional) - Shipping Company Name
      + shipping_first_name (string, optional) - Shipping First Name
      + shipping_id (string, optional) - Address Id
      + shipping_last_name (string, optional) - Shipping Last Name
      + shipping_phone (string, optional) - Shipping Phone Number
      + shipping_state (string, optional) - Shipping State
      + shipping_zip (string, optional) - Shipping Zip Code
      + state (string, optional) - Billing State
      + zip (string, optional) - Billing Zip Code
  
    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX
    + Body

            {"order_type":"Web","company":"","address":"2210 Tejas Ave","address_2":"","city":"Napa","state":"CA","zip":"94559","credit_id":"6","shipping_title":"ShippingAddress","shipping_first_name":"Ian","shipping_last_name":"Tucker","shipping_phone":"707-501-7491","shipping_company":"","shipping_address":"523 Brown St","shipping_address_2":"","shipping_city":"Napa","shipping_state":"CA","shipping_zip":"94559","shipping_id":"4093","requested_ship_date":"2015-03-16","instructions":"Shipping Instructions","gift_message":"Gift Message"}

+ Response 200 (application/json)

    + Body

            {"ServerFault":{"code":403,"message":"","details":""}}

## Group Categories
Resources related to Categories.


## Categories [/categories]


### Get Category Details [GET /categories/{id}]

+ Parameters
  + id (number, required) - Category Id





### Get List of Categories [GET /categories]


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"1":{"id":"1","name":"New Releases","sort":"1","status":"Active","description":"Explore our small variety of current release Acme Vineyards wines.","short_description":"","extended_description":"","image":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/category\/1-8891.jpg","image_2":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/category-2\/1-4190.jpg","image_3":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/category-3\/1-7775.jpg"},"2":{"id":"2","name":"Past Vintages","sort":"2","status":"Active","description":"Explore past vintages of Acme wines.","short_description":"","extended_description":"","image":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/category\/2-8644.jpg","image_2":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/category-2\/2-6628.jpg","image_3":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/category-3\/2-1813.jpg"}}



### Retrieve a Category by Name [GET /categories/name/{name}]

+ Parameters
  + name (string, required) - Category Name



## Group Clubs
Resources related to Clubs.


## Clubs [/clubs]


### Get Clubs Details [GET /clubs/{id}]

+ Parameters
  + id (number, required) - Club Id


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXXX
            X-Auth-Token:XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"id":"5","name":"Founders Club","description":"Red. Only. Need we say more? You won't regret this commitment. Look for a case of our finest red selections to arrive at your door in January, May and November. In order to insure that each shipment will showcase seasonally appropriate wines we've asked our in-house chef, Michel Brassica to work with our winemaker to hand-select wines that will pair perfectly with the dishes of the season. Who knows, he might even through in some of his award-winning recipes...","discount":"20","free_shipping":"0","club_confirmation_message":"We greatly appreciate your commitment to support the consumption of legendary red wines. \r\nSalud!\r\n\r\n- The Acme Vineyards Crew","club_info_1":"<ul><li>Shipments 3 times a year:&nbsp;Jan, May &amp; Nov<\/li><li>Private tastings by appointment<\/li><li>Exclusive Invites to Special Events<\/li><li>First access to limited release white wines<\/li><\/ul>","club_info_2":"$300 per shipment<br \/>(tax and shipping not included)","club_info_3":"","order_status":"1","sort":"1"}



### Get List of Clubs [GET /clubs]


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXXX
            X-Auth-Token:XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"5":{"id":"5","name":"Founders Club","description":"Red. Only. Need we say more? You won't regret this commitment. Look for a case of our finest red selections to arrive at your door in January, May and November. In order to insure that each shipment will showcase seasonally appropriate wines we've asked our in-house chef, Michel Brassica to work with our winemaker to hand-select wines that will pair perfectly with the dishes of the season. Who knows, he might even through in some of his award-winning recipes...","discount":"20","free_shipping":"0","club_confirmation_message":"We greatly appreciate your commitment to support the consumption of legendary red wines. \r\nSalud!\r\n\r\n- The Acme Vineyards Crew","club_info_1":"<ul><li>Shipments 3 times a year:&nbsp;Jan, May &amp; Nov<\/li><li>Private tastings by appointment<\/li><li>Exclusive Invites to Special Events<\/li><li>First access to limited release white wines<\/li><\/ul>","club_info_2":"$300 per shipment<br \/>(tax and shipping not included)","club_info_3":"","sort":"1"},"4":{"id":"4","name":"Acme Refreshing Whites Club","description":"If you've ever had a chance to visit the Napa Valley then you know firsthand that there are fantastic whites being produced right alongside the legendary reds \u2014 they are just in slightly shorter supply.  So don't just settle for whatever your local Trader Joe's has on hand  -- sign on to receive a selection of fantastic white wines available only through our exclusive <em>Refreshing Whites Club<\/em> and we'll be sure that three times a year 12 outstanding bottles will arrive at your doorstep.","discount":"15","free_shipping":"1","club_confirmation_message":"We're so glad you've come to your senses and joined the club!\r\n\r\n- The Acme Vineyards Crew","club_info_1":"<ul><li>Shipments 3 times a year:&nbsp;Jan, May &amp; Nov<\/li><li>Private tastings by appointment<\/li><li>Exclusive Invites to Special Events<\/li><li>First access to limited release white wines<\/li><\/ul>","club_info_2":"$200 - $230 per shipment<br \/>(tax and shipping not included)","club_info_3":"","sort":"2"}}

## Group Content
Resources related to Content.


## Content [/content]


### Get CMS Content [GET /content/{slug}]

+ Parameters
  + 0 (NULL, required) - 
  + slug (string, required) - Content Id


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            null

## Group Customer
Resources related to Customer.


## Customer [/customer]


### Get Customer Allocation [GET /customer/allocation]





### Get Customer Groups [GET /customer/groups]





### Get Customer Profile [GET /customer]


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"id":"2","first_name":"Ian","last_name":"Tucker","email":"ian@figurecommerce.com","status":"Active","state":"CA","order_count":"69","order_total":"16180.90","last_order":"2015-11-30 15:20:10","last_order_total":"5.50","created":"2012-10-08 12:59:28","address":"2210 Tucker Ave","address_2":"","affiliate_id":"xxxxxxxxxxxxxxxxxxxxxx","birthday":"1986-04-3","city":"Napa","company":"","credits":"0.00","job_title":"","mobile":"","phone":"707-501-7491","user_facebook":"","user_linkedin":"","user_pinterest":"","user_twitter":"","zip":"94559"}



### Get Invite Token [GET /customer/invite_token]


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            "22daaa7e68413724d037fa9b3a1abb39ed45c757"



### Update Customer Profile [PUT /customer]


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            true

## Customer Club Membership [/customer/clubs]


### Cancel Club Membership [DELETE /customer/clubs/{id}]

+ Parameters
  + id (number, required) - Club Membership Id


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Create New Club Membership [POST /customer/clubs]


+ Request (application/json)

  + Attributes
      + address_id (number, required) - Address Id
      + club_id (number, required) - Club Id
      + payment_id (number, required) - Payment Id
  
    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX
    + Body

            {  "club_id": 5,  "address_id": 27,  "payment_id": 3142}

+ Response 200 (application/json)

    + Body

            {   "id": "471",   "club_id": "5",   "name": "Founders Club",   "discount": "0",   "free_shipping": "0",   "address_id": "27",   "payment_id": "3142",   "created": "2016-07-22 09:29:10" }



### Get List of Club Memberships [GET /customer/clubs]


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            [{   "id": "471",   "club_id": "5",   "name": "Founders Club",   "discount": "0",   "free_shipping": "0",   "address_id": "27",   "payment_id": "3142",   "created": "2016-07-22 09:29:10" }]



### Update Club Membership [PUT /customer/clubs/{id}]

+ Parameters
  + id (number, required) - Club Membership Id


+ Request (application/json)

  + Attributes
      + payment_id (number, optional) - Payment Id
  
    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX
    + Body

            {
"address_id": 4093,
"payment_id": 6
}

+ Response 200 (application/json)

    + Body

            {   "id": "471",   "club_id": "5",   "name": "Founders Club",   "discount": "0",   "free_shipping": "0",   "address_id": "4093",   "payment_id": "6",   "created": "2016-07-22 09:29:10" }

## Customer Orders [/customer/orders]


### Get Customer Order History [GET /customer/orders]


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"361":{"id":"361","datestamp":"2015-04-07 01:59:22","status":"","subtotal":"683.00","tax":"54.64","shipping":"0.00","discount":"0.00","credits":"0.00","refund":"0.00","total":"737.64","customer_id":"2","address":"523 Brown St","address_2":"","birthday":"1986-04-3","city":"Napa","company":"","credit_id":"118","credit_number":"8431","credit_type":"American Express","customer_credits":"0.00","email":"ian@figurecommerce.com","first_name":"Ian","gift_message":"","instructions":"","item_count":"13","last_name":"Tucker","order_id":"361","order_type":"Web","payment_status":"Paid","phone":"707-501-7491","requested_ship_date":"2015-03-16","shipping_address":"523 Brown St","shipping_address_2":"","shipping_city":"Napa","shipping_company":"","shipping_first_name":"Ian","shipping_id":"4083","shipping_last_name":"Tucker","shipping_method":"3","shipping_method_carrier":"DDC","shipping_method_code":"FXO","shipping_method_name":"Expedited Shipping","shipping_phone":"707-501-7491","shipping_state":"CA","shipping_title":"ShippingAddress","shipping_zip":"94558","ship_status":"Not Shipped","state":"CA","tax_rate":"8","transaction_id":"387","zip":"94559","products":[{"id":"361","sku":"12312312312","name":"2014 Rosu00e9","type":"","price":"65","discount":"0","quantity":"7","status":"","description":"2014 Ros\u00e9 Napa Valley","image":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/product\/12312312312-1725.jpg","stock_status":"","shipped":"0","created":"2015-04-07 01:59:22"},{"id":"361","sku":"AV10NVRB","name":"2009 Red Blend","type":"","price":"38","discount":"0","quantity":"6","status":"","description":"2009 Red Blend Napa Valley","image":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/product\/AV10NVRB-3972.jpg","stock_status":"","shipped":"0","created":"2015-04-07 01:59:22"}]},"359":{"id":"359","datestamp":"2015-04-07 01:12:57","status":"","subtotal":"412.00","tax":"32.96","shipping":"0.00","discount":"0.00","credits":"0.00","refund":"0.00","total":"444.96","customer_id":"2","address":"523 Brown St","address_2":"","birthday":"1986-04-3","city":"Napa","company":"","credit_id":"118","credit_number":"8431","credit_type":"American Express","customer_credits":"0.00","email":"ian@figurecommerce.com","first_name":"Ian","gift_message":"","instructions":"","item_count":"8","last_name":"Tucker","order_id":"359","order_type":"Web","payment_status":"Paid","phone":"707-501-7491","requested_ship_date":"2015-03-16","shipping_address":"354357357","shipping_address_2":"","shipping_city":"Yountville","shipping_company":"","shipping_first_name":"Ian","shipping_id":"3913","shipping_last_name":"Tucker","shipping_method":"3","shipping_method_carrier":"DDC","shipping_method_code":"FXO","shipping_method_name":"Expedited Shipping","shipping_phone":"7075017491","shipping_state":"CA","shipping_title":"ShippingAddress","shipping_zip":"94599","ship_status":"Not Shipped","state":"CA","tax_rate":"8","transaction_id":"385","zip":"94559","products":[{"id":"359","sku":"12312312312","name":"2014 Rosu00e9","type":"","price":"65","discount":"0","quantity":"4","status":"","description":"2014 Ros\u00e9 Napa Valley","image":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/product\/12312312312-1725.jpg","stock_status":"","shipped":"0","created":"2015-04-07 01:12:57"},{"id":"359","sku":"AV10NVRB","name":"2009 Red Blend","type":"","price":"38","discount":"0","quantity":"4","status":"","description":"2009 Red Blend Napa Valley","image":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/product\/AV10NVRB-3972.jpg","stock_status":"","shipped":"0","created":"2015-04-07 01:12:57"}]},"342":{"id":"342","datestamp":"2015-04-07 00:51:10","status":"","subtotal":"780.00","tax":"62.40","shipping":"0.00","discount":"0.00","credits":"0.00","refund":"0.00","total":"842.40","customer_id":"2","address":"523 Brown St","address_2":"","birthday":"1986-04-3","city":"Napa","company":"","credit_id":"118","credit_number":"1111","credit_type":"Visa","email":"ian@figurecommerce.com","first_name":"Ian","gift_message":"","instructions":"","item_count":"12","last_name":"Tucker","order_id":"342","order_type":"Web","payment_status":"Paid","phone":"707-501-7491","requested_ship_date":"2015-03-16","shipping_address":"523 Brown St","shipping_address_2":"","shipping_city":"Napa","shipping_company":"","shipping_first_name":"Ian","shipping_id":"4083","shipping_last_name":"Tucker","shipping_method":"3","shipping_method_carrier":"DDC","shipping_method_code":"FXO","shipping_method_name":"Expedited Shipping","shipping_phone":"707-501-7491","shipping_state":"CA","shipping_title":"ShippingAddress","shipping_zip":"94558","ship_status":"Not Shipped","state":"CA","tax_rate":"8","transaction_id":"369","zip":"94559","products":[{"id":"342","sku":"12312312312","name":"2014 Rosu00e9","type":"","price":"65","discount":"0","quantity":"12","status":"","description":"2014 Ros\u00e9 Napa Valley","image":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/product\/12312312312-1725.jpg","stock_status":"","shipped":"0","created":"2015-04-07 00:51:10"}]},"328":{"id":"328","datestamp":"2015-03-13 03:40:01","status":"","subtotal":"915.00","tax":"62.22","shipping":"0.00","discount":"137.25","credits":"240.00","refund":"0.00","total":"599.97","customer_id":"2","address":"523 Brown St","address_2":"","address_id":"3913","birthday":"1986-04-3","city":"Napa","company":"","credit_number":"8431","credit_type":"American Express","customer_credits":"240.00","discount_customer":"0.15","email":"ian@figurecommerce.com","first_name":"Ian","item_count":"12","last_name":"Tucker","order_id":"328","order_type":"Admin","payment_id":"118","payment_status":"Paid","phone":"707-501-7491","sales_agent":"Ian Tucker","sale_credit":"...","shipping_address":"354357357","shipping_address_2":"","shipping_city":"Yountville","shipping_company":"","shipping_first_name":"Ian","shipping_last_name":"Tucker","shipping_method":"12","shipping_method_carrier":"UPS","shipping_method_code":"UPSGND","shipping_method_name":"Intergalactic Shipping","shipping_phone":"7075017491","shipping_state":"CA","shipping_zip":"94599","ship_status":"Shipped","state":"CA","tax_rate":"8","transaction_id":"353","zip":"94559","products":[{"id":"328","sku":"12312312312","name":"2011 Cabernet Sauvignon","type":"","price":"65","discount":"0","quantity":"3","status":"","description":"2011 Cabernet Sauvignon Napa Valley","image":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/product\/12312312312-1725.jpg","stock_status":"","shipped":"0","created":"2015-03-13 03:40:01"},{"id":"328","sku":"123123213123123213","name":"2014 Reserve Cabernet Sauvignon","type":"","price":"80","discount":"0","quantity":"1","status":"","description":"2014 Reserve Cabernet Sauvignon Napa Valley, Small Lot Reserve","image":"","stock_status":"","shipped":"0","created":"2015-03-13 03:40:01"},{"id":"328","sku":"212nvcs","name":"2012 Reserve Cabernet Sauvignon","type":"","price":"80","discount":"0","quantity":"6","status":"","description":"2012 Reserve Cabernet Sauvignon Napa Valley, Small Lot Reserve","image":"","stock_status":"","shipped":"0","created":"2015-03-13 03:40:01"},{"id":"328","sku":"AV10NVRCS","name":"2010 Reserve Cabernet Sauvignon","type":"","price":"80","discount":"0","quantity":"2","status":"","description":"2010 Reserve Cabernet Sauvignon Napa Valley, Small Lot Reserve","image":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/product\/AV10NVRCS-3914.jpg","stock_status":"","shipped":"0","created":"2015-03-13 03:40:01"}],"packages":[]},"311":{"id":"311","datestamp":"2015-01-23 11:11:00","status":"","subtotal":"900.00","tax":"67.20","shipping":"0.00","discount":"60.00","credits":"0.00","refund":"0.00","total":"907.20","customer_id":"2","address":"523 Brown St","address_2":"","address_id":"3977","birthday":"1986-04-3","city":"Napa","company":"","credit_number":"8431","credit_type":"American Express","email":"ian@figurecommerce.com","first_name":"Ian","free_shipping":"1","item_count":"12","last_name":"Tucker","order_id":"311","order_type":"Club","override_discount":"60.00","payment_id":"118","payment_status":"Paid","phone":"707-501-7491","shipping_address":"6484 Winery Street","shipping_address_2":"","shipping_city":"Yountville","shipping_company":"c\/o Acme Vineyards","shipping_first_name":"Ian","shipping_last_name":"Tucker","shipping_method":"10","shipping_method_carrier":"custom","shipping_method_code":"WILLCALL","shipping_method_name":"Winery Pickup","shipping_phone":"7075017491","shipping_state":"CA","shipping_zip":"94599","ship_status":"Shipped","state":"CA","tax_rate":"8","transaction_id":"320","zip":"94559","products":[{"id":"311","sku":"12312312312","name":"2011 Cabernet Sauvignon ","type":"","price":"65","discount":"0","quantity":"4","status":"","description":"2011 Cabernet Sauvignon ","image":"","stock_status":"","shipped":"0","created":"2015-01-23 11:11:00"},{"id":"311","sku":"123123213123123213","name":"2014 Reserve Cabernet Sauvignon ","type":"","price":"80","discount":"0","quantity":"4","status":"","description":"2014 Reserve Cabernet Sauvignon ","image":"","stock_status":"","shipped":"0","created":"2015-01-23 11:11:00"},{"id":"311","sku":"AV10NVRCS","name":"2010 Reserve Cabernet Sauvignon ","type":"","price":"80","discount":"0","quantity":"4","status":"","description":"2010 Reserve Cabernet Sauvignon ","image":"","stock_status":"","shipped":"0","created":"2015-01-23 11:11:00"}],"packages":[]},"282":{"id":"282","datestamp":"2014-11-11 15:37:16","status":"","subtotal":"390.00","tax":"0.00","shipping":"0.00","discount":"90.00","credits":"0.00","refund":"24.00","total":"300.00","customer_id":"2","address":"523 Brown St","address_2":"","address_id":"3977","birthday":"1986-04-3","city":"Napa","company":"","credit_number":"1111","credit_type":"Visa","email":"ian@figurecommerce.com","first_name":"Ian","free_shipping":"1","item_count":"6","last_name":"Tucker","order_id":"282","order_type":"Club","override_discount":"90","payment_id":"119","payment_status":"Paid","phone":"707-501-7491","shipping_address":"6484 Winery Street","shipping_address_2":"","shipping_city":"Yountville","shipping_company":"c\/o Acme Vineyards","shipping_first_name":"Ian","shipping_last_name":"Tucker","shipping_method":"10","shipping_method_carrier":"custom","shipping_method_code":"WILLCALL","shipping_method_name":"Winery Pickup","shipping_phone":"7075017491","shipping_state":"CA","shipping_zip":"94599","ship_status":"Shipped","state":"CA","tax_rate":"8","transaction_id":"281","zip":"94559","products":[{"id":"282","sku":"12312312312","name":"2011 Cabernet Sauvignon ","type":"","price":"65","discount":"0","quantity":"6","status":"","description":"2011 Cabernet Sauvignon ","image":"","stock_status":"","shipped":"0","created":"2014-11-11 15:37:16"}],"packages":[]},"276":{"id":"276","datestamp":"2014-10-23 10:55:34","status":"","subtotal":"600.00","tax":"40.80","shipping":"40.00","discount":"90.00","credits":"0.00","refund":"0.00","total":"590.80","customer_id":"2","address":"523 Brown St","address_2":"","address_id":"3913","birthday":"1986-04-3","city":"Napa","company":"","credit_number":"8431","credit_type":"American Express","customer_credits":"0.00","discount_customer":"0.15","email":"ian@figurecommerce.com","first_name":"Ian","item_count":"6","last_name":"Tucker","order_id":"276","order_type":"Club","payment_id":"118","payment_status":"Paid","phone":"707-501-7491","sales_agent":"Tyson Caly","shipping_address":"354357357","shipping_address_2":"","shipping_city":"Yountville","shipping_company":"","shipping_first_name":"Ian","shipping_last_name":"Tucker","shipping_method":"4","shipping_method_carrier":"WCS","shipping_method_code":"FXG","shipping_method_name":"Ground Shipping","shipping_phone":"7075017491","shipping_state":"CA","shipping_zip":"94599","ship_status":"Shipped","state":"CA","tax_rate":"8","transaction_id":"274","zip":"94559","products":[{"id":"276","sku":"322345345","name":"2011 Reserve Cabernet Sauvignon","type":"","price":"100","discount":"0","quantity":"6","status":"","description":"2011 Reserve Cabernet Sauvignon Napa Valley, Small Lot Reserve","image":"","stock_status":"","shipped":"0","created":"2014-10-23 10:55:34"}],"packages":[]},"264":{"id":"264","datestamp":"2014-09-17 18:51:19","status":"","subtotal":"495.00","tax":"32.00","shipping":"40.00","discount":"95.00","credits":"0.00","refund":"0.00","total":"472.00","customer_id":"2","address":"2210 Tejas Ave","address_2":"","address_id":"3977","birthday":"1986-04-3","city":"Napa","company":"","credit_number":"8431","credit_type":"American Express","email":"ian@figurecommerce.com","first_name":"Ian","free_shipping":"","item_count":"6","last_name":"Tucker","order_id":"264","order_type":"Club","override_discount":"95.00","payment_id":"94","payment_status":"Paid","phone":"707-501-7491","shipping_address":"2210 Tejas Ave","shipping_address_2":"","shipping_city":"Napa","shipping_company":"","shipping_first_name":"Ian","shipping_last_name":"Tucker","shipping_method":"4","shipping_method_carrier":"WCS","shipping_method_code":"FXG","shipping_method_name":"Ground Shipping","shipping_phone":"7075017491","shipping_state":"CA","shipping_zip":"94559","ship_status":"Shipped","state":"CA","tax_rate":"8","transaction_id":"261","zip":"94559","products":[{"id":"264","sku":"AV09NVCS1","name":"2009 Cabernet Sauvignon ","type":"","price":"65","discount":"0","quantity":"3","status":"","description":"2009 Cabernet Sauvignon ","image":"","stock_status":"","shipped":"0","created":"2014-09-17 18:51:19"},{"id":"264","sku":"AV10NVRCS","name":"2010 Reserve Cabernet Sauvignon ","type":"","price":"100","discount":"0","quantity":"3","status":"","description":"2010 Reserve Cabernet Sauvignon ","image":"","stock_status":"","shipped":"0","created":"2014-09-17 18:51:19"}],"packages":[]},"255":{"id":"255","datestamp":"2014-09-12 16:41:17","status":"","subtotal":"2760.00","tax":"220.80","shipping":"0.00","discount":"0.00","credits":"0.00","refund":"0.00","total":"2980.80","customer_id":"2","address":"6484 Washington St.","address_2":"","address_id":"3977","birthday":"1986-04-3","city":"Yountville","company":"","credit_number":"1111","credit_type":"Visa","email":"ian@figurecommerce.com","first_name":"Ian","free_shipping":"1","item_count":"36","last_name":"Tucker","order_id":"255","order_type":"Club","override_discount":"","payment_id":"92","payment_status":"Paid","phone":"707-501-7491","shipping_address":"6484 Winery Street","shipping_address_2":"","shipping_city":"Yountville","shipping_company":"c\/o Acme Vineyards","shipping_first_name":"Ian","shipping_last_name":"Tucker","shipping_method":"10","shipping_method_carrier":"custom","shipping_method_code":"WILLCALL","shipping_method_name":"Winery Pickup","shipping_phone":"7075017491","shipping_state":"CA","shipping_zip":"94599","ship_status":"Shipped","state":"CA","tax_rate":"8","transaction_id":"251","zip":"94599","products":[{"id":"255","sku":"12312312312","name":"2011 Cabernet Sauvignon ","type":"","price":"65","discount":"0","quantity":"12","status":"","description":"2011 Cabernet Sauvignon ","image":"","stock_status":"","shipped":"0","created":"2014-09-12 16:41:17"},{"id":"255","sku":"AV09NVCS1","name":"2009 Cabernet Sauvignon ","type":"","price":"65","discount":"0","quantity":"12","status":"","description":"2009 Cabernet Sauvignon ","image":"","stock_status":"","shipped":"0","created":"2014-09-12 16:41:17"},{"id":"255","sku":"AV10NVRCS","name":"2010 Reserve Cabernet Sauvignon ","type":"","price":"100","discount":"0","quantity":"12","status":"","description":"2010 Reserve Cabernet Sauvignon ","image":"","stock_status":"","shipped":"0","created":"2014-09-12 16:41:17"}],"packages":[]},"236":{"id":"236","datestamp":"2014-08-07 11:56:54","status":"","subtotal":"230.00","tax":"18.40","shipping":"25.00","discount":"0.00","credits":"0.00","refund":"0.00","total":"273.40","customer_id":"2","address":"2210 Tejas Ave","address_2":"","address_id":"3977","birthday":"1986-04-3","city":"Napa","company":"","credit_number":"8431","credit_type":"American Express","email":"ian@figurecommerce.com","first_name":"Ian","free_shipping":"","item_count":"3","last_name":"Tucker","order_id":"236","order_type":"Club","override_discount":"","payment_id":"94","payment_status":"Paid","phone":"707-501-7491","shipping_address":"2210 Tejas Ave","shipping_address_2":"","shipping_city":"Napa","shipping_company":"","shipping_first_name":"Ian","shipping_last_name":"Tucker","shipping_method":"4","shipping_method_carrier":"WCS","shipping_method_code":"FXG","shipping_method_name":"Ground Shipping","shipping_phone":"7075017491","shipping_state":"CA","shipping_zip":"94559","ship_status":"Shipped","state":"CA","tax_rate":"8","transaction_id":"229","zip":"94559","products":[{"id":"236","sku":"12312312312","name":"2011 Cabernet Sauvignon ","type":"","price":"65","discount":"0","quantity":"1","status":"","description":"2011 Cabernet Sauvignon ","image":"","stock_status":"","shipped":"0","created":"2014-08-07 11:56:54"},{"id":"236","sku":"AV09NVCS1","name":"2009 Cabernet Sauvignon ","type":"","price":"65","discount":"0","quantity":"1","status":"","description":"2009 Cabernet Sauvignon ","image":"","stock_status":"","shipped":"0","created":"2014-08-07 11:56:54"},{"id":"236","sku":"AV10NVRCS","name":"2010 Reserve Cabernet Sauvignon ","type":"","price":"100","discount":"0","quantity":"1","status":"","description":"2010 Reserve Cabernet Sauvignon ","image":"","stock_status":"","shipped":"0","created":"2014-08-07 11:56:54"}],"packages":[]},"228":{"id":"228","datestamp":"2014-08-01 10:55:15","status":"","subtotal":"495.00","tax":"39.60","shipping":"0.00","discount":"0.00","credits":"0.00","refund":"0.00","total":"534.60","customer_id":"2","address":"6484 Washington St.","address_2":"","address_id":"3977","birthday":"1986-04-3","city":"Yountville","company":"","credit_number":"1111","credit_type":"Visa","email":"ian@figurecommerce.com","first_name":"Ian","free_shipping":"1","item_count":"6","last_name":"Tucker","order_id":"228","order_type":"Club","override_discount":"","payment_id":"92","payment_status":"Paid","phone":"707-501-7491","shipping_address":"6484 Winery Street","shipping_address_2":"","shipping_city":"Yountville","shipping_company":"c\/o Acme Vineyards","shipping_first_name":"Ian","shipping_last_name":"Tucker","shipping_method":"10","shipping_method_carrier":"custom","shipping_method_code":"WILLCALL","shipping_method_name":"Winery Pickup","shipping_phone":"7075017491","shipping_state":"CA","shipping_zip":"94599","ship_status":"Shipped","state":"CA","tax_rate":"8","transaction_id":"220","zip":"94599","products":[{"id":"228","sku":"AV09NVCS1","name":"2009 Cabernet Sauvignon ","type":"","price":"65","discount":"0","quantity":"3","status":"","description":"2009 Cabernet Sauvignon ","image":"","stock_status":"","shipped":"0","created":"2014-08-01 10:55:15"},{"id":"228","sku":"AV10NVRCS","name":"2010 Reserve Cabernet Sauvignon ","type":"","price":"100","discount":"0","quantity":"3","status":"","description":"2010 Reserve Cabernet Sauvignon ","image":"","stock_status":"","shipped":"0","created":"2014-08-01 10:55:15"}],"packages":[]},"223":{"id":"223","datestamp":"2014-07-25 12:18:08","status":"","subtotal":"720.00","tax":"52.80","shipping":"0.00","discount":"60.00","credits":"0.00","refund":"0.00","total":"712.80","customer_id":"2","address":"6484 Washington St.","address_2":"","address_id":"3913","birthday":"1986-04-3","city":"Yountville","company":"","credit_number":"1111","credit_type":"Visa","email":"ian@figurecommerce.com","first_name":"Ian","free_shipping":"1","item_count":"10","last_name":"Tucker","order_id":"223","order_type":"Club","override_discount":"60.00","payment_id":"92","payment_status":"Paid","phone":"707-501-7491","shipping_address":"354357357","shipping_address_2":"","shipping_city":"Yountville","shipping_company":"","shipping_first_name":"Ian","shipping_last_name":"Tucker","shipping_method":"4","shipping_method_carrier":"WCS","shipping_method_code":"FXG","shipping_method_name":"Ground Shipping","shipping_phone":"7075017491","shipping_state":"CA","shipping_zip":"94599","ship_status":"Shipped","state":"CA","tax_rate":"8","transaction_id":"214","zip":"94599","products":[{"id":"223","sku":"454646878","name":"2012 Cabernet Sauvignon ","type":"","price":"65","discount":"0","quantity":"6","status":"","description":"2012 Cabernet Sauvignon ","image":"","stock_status":"","shipped":"0","created":"2014-07-25 12:18:08"},{"id":"223","sku":"555","name":"2011 Cabernet Sauvignon ","type":"","price":"65","discount":"0","quantity":"2","status":"","description":"2011 Cabernet Sauvignon ","image":"","stock_status":"","shipped":"0","created":"2014-07-25 12:18:08"},{"id":"223","sku":"AV10NVRCS","name":"2010 Reserve Cabernet Sauvignon ","type":"","price":"100","discount":"0","quantity":"2","status":"","description":"2010 Reserve Cabernet Sauvignon ","image":"","stock_status":"","shipped":"0","created":"2014-07-25 12:18:08"}],"packages":[]},"210":{"id":"210","datestamp":"2014-07-16 00:45:50","status":"","subtotal":"650.00","tax":"44.20","shipping":"60.00","discount":"97.50","credits":"0.00","refund":"0.00","total":"656.70","customer_id":"2","address":"6484 Washington St.","address_2":"","address_id":"3977","birthday":"1986-04-3","city":"Yountville","company":"","credit_number":"1111","credit_type":"Visa","customer_credits":"0.00","discount_customer":"0.15","email":"ian@figurecommerce.com","first_name":"Ian","item_count":"10","last_name":"Tucker","order_id":"210","order_type":"Admin","payment_id":"92","payment_status":"Paid","phone":"707-501-7491","requested_ship_date":"07\/30\/2014","sales_agent":"Tyson Caly","shipping_address":"2210 Tejas Ave","shipping_address_2":"","shipping_city":"Napa","shipping_company":"","shipping_first_name":"Ian","shipping_last_name":"Tucker","shipping_method":"4","shipping_method_carrier":"WCS","shipping_method_code":"FXG","shipping_method_name":"Ground Shipping","shipping_phone":"7075017491","shipping_state":"CA","shipping_zip":"94559","ship_status":"Shipped","state":"CA","tax_rate":"8","transaction_id":"201","zip":"94599","products":[{"id":"210","sku":"AV09NVCS1","name":"2009 Cabernet Sauvignon","type":"","price":"65","discount":"0","quantity":"10","status":"","description":"2009 Cabernet Sauvignon Napa Valley","image":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/product\/AV09NVCS1-1204.jpg","stock_status":"","shipped":"0","created":"2014-07-16 00:45:50"}],"packages":[]},"202":{"id":"202","datestamp":"2014-07-13 15:40:00","status":"","subtotal":"490.00","tax":"0.00","shipping":"0.00","discount":"0.00","credits":"0.00","refund":"0.00","total":"490.00","customer_id":"2","address":"6484 Washington St.","address_2":"","address_id":"3913","birthday":"1986-04-3","city":"Yountville","company":"","credit_number":"1111","credit_type":"Visa","email":"ian@figurecommerce.com","first_name":"Ian","free_shipping":"1","item_count":"7","last_name":"Tucker","order_id":"202","order_type":"Club","override_discount":"","payment_id":"92","payment_status":"Paid","phone":"707-501-7491","shipping_address":"354357357","shipping_address_2":"","shipping_city":"Yountville","shipping_company":"","shipping_first_name":"Ian","shipping_last_name":"Tucker","shipping_method":"4","shipping_method_carrier":"WCS","shipping_method_code":"FXG","shipping_method_name":"Ground Shipping","shipping_phone":"7075017491","shipping_state":"CA","shipping_zip":"94599","ship_status":"Shipped","state":"CA","tax_exempt":"1","tax_rate":"0","transaction_id":"193","zip":"94599","products":[{"id":"202","sku":"AV09NVCS1","name":"2009 Cabernet Sauvignon ","type":"","price":"65","discount":"0","quantity":"6","status":"","description":"2009 Cabernet Sauvignon ","image":"","stock_status":"","shipped":"0","created":"2014-07-13 15:40:00"},{"id":"202","sku":"AV10NVRCS","name":"2010 Reserve Cabernet Sauvignon ","type":"","price":"100","discount":"0","quantity":"1","status":"","description":"2010 Reserve Cabernet Sauvignon ","image":"","stock_status":"","shipped":"0","created":"2014-07-13 15:40:00"}],"packages":[]},"196":{"id":"196","datestamp":"2014-07-09 20:15:10","status":"","subtotal":"130.00","tax":"8.80","shipping":"0.00","discount":"20.00","credits":"0.00","refund":"0.00","total":"118.80","customer_id":"2","address":"2210 Tejas Ave","address_2":"","address_id":"3977","birthday":"1986-04-3","city":"Napa","company":"","credit_number":"8431","credit_type":"American Express","email":"ian@figurecommerce.com","first_name":"Ian","free_shipping":"1","item_count":"2","last_name":"Tucker","order_id":"196","order_type":"Club","override_discount":"20.00","payment_id":"94","payment_status":"Paid","phone":"707-501-7491","shipping_address":"2210 Tejas Ave","shipping_address_2":"","shipping_city":"Napa","shipping_company":"","shipping_first_name":"Ian","shipping_last_name":"Tucker","shipping_method":"4","shipping_method_carrier":"WCS","shipping_method_code":"FXG","shipping_method_name":"Ground Shipping","shipping_phone":"7075017491","shipping_state":"CA","shipping_zip":"94559","ship_status":"Shipped","state":"CA","tax_rate":"8","transaction_id":"188","zip":"94559","products":[{"id":"196","sku":"454646878","name":"2012 Cabernet Sauvignon ","type":"","price":"65","discount":"0","quantity":"1","status":"","description":"2012 Cabernet Sauvignon ","image":"","stock_status":"","shipped":"0","created":"2014-07-09 20:15:10"},{"id":"196","sku":"AV09NVCS1","name":"2009 Cabernet Sauvignon ","type":"","price":"65","discount":"0","quantity":"1","status":"","description":"2009 Cabernet Sauvignon ","image":"","stock_status":"","shipped":"0","created":"2014-07-09 20:15:10"}],"packages":[]},"195":{"id":"195","datestamp":"2014-07-08 22:41:20","status":"","subtotal":"790.00","tax":"53.72","shipping":"60.00","discount":"118.50","credits":"0.00","refund":"0.00","total":"785.22","customer_id":"2","address":"2210 Tejas Ave","address_2":"","address_id":"3913","birthday":"1986-04-3","city":"Napa","company":"","credit_id":"94","credit_number":"8431","credit_type":"American Express","customer_credits":"0.00","discount_customer":"0.15","email":"ian@figurecommerce.com","first_name":"Ian","gift_message":"","instructions":"","item_count":"10","last_name":"Tucker","order_id":"195","payment_id":"94","payment_status":"Paid","phone":"707-501-7491","shipping_address":"354357357","shipping_address_2":"","shipping_city":"Yountville","shipping_company":"","shipping_first_name":"Ian","shipping_id":"3913","shipping_last_name":"Tucker","shipping_method":"3","shipping_method_carrier":"WCS","shipping_method_code":"FXO","shipping_method_id":"3","shipping_method_name":"Expedited Shipping","shipping_phone":"7075017491","shipping_state":"CA","shipping_title":"ShippingAddress","shipping_zip":"94599","ship_status":"Shipped","state":"CA","tax_rate":"8","transaction_id":"187","zip":"94559","products":[{"id":"195","sku":"AV09NVCS1","name":"2009 Cabernet Sauvignon","type":"","price":"65","discount":"0","quantity":"6","status":"","description":"2009 Cabernet Sauvignon Napa Valley","image":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/product\/AV09NVCS1-1204.jpg","stock_status":"","shipped":"0","created":"2014-07-08 22:41:20"},{"id":"195","sku":"AV10NVRCS","name":"2010 Reserve Cabernet Sauvignon","type":"","price":"100","discount":"0","quantity":"4","status":"","description":"2010 Reserve Cabernet Sauvignon Napa Valley, Small Lot Reserve","image":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/product\/AV10NVRCS-3914.jpg","stock_status":"","shipped":"0","created":"2014-07-08 22:41:20"}],"packages":[]}}



### Get Order Detail [GET /customer/orders/{id}]

+ Parameters
  + id (number, required) - Order Id



## Group Inventory
Resources related to Inventory.


## Inventory [/inventory]


### Get Available Inventory [GET /inventory]


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"AV09NVCS":"0","AV09NVCS1":-3,"AV09NVCH":"0","AV10NVRB":3,"AV08NVCH":"0","AV10NVRCS":3983,"asdfasdf":"1000","875433":"999","2011asdfasdfsad":"994","12312312312":11971,"123124214":"894","11111":"997","454646878":"467","555":"840","5398":"76","asdfasdfasdf":"0","78DHU":38,"322345345":"304","a123123123123":"591","asdfasdfasdfadsf":"0","ti6r7r76f":"419","ANNUAL":"10000","5876987":"893","123123213123123213":599,"212nvcs":651,"AV11NVRCS":"499","sdfadfasdfds":"600","asdfasdf323":"12000","asdfasdfasdfas":"9000","as3423423":"6","yyuhjij":"842"}

## Group Payment
Resources related to Payment.


## Default Payment [/payment/default]


### Get Default Payment Method [GET /payment/default]


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"id":"6","account_token":"cus_6wjTTC7pSoC6da","payment_token":"card_6wjTDZSCFXFoqj","credit_type":"Visa","credit_number":"5125","credit_expires_month":"7","credit_expires_year":"2018","account_uri":"","card_uri":"","profile_id":"0","payment_profile_id":"0","first_name":"Ian","birthday":"","phone":"","company":"","last_name":"Tucker","address":"2210 Tejas Ave","address_2":"","city":"Napa","state":"CA","zip":"94559","customer_id":"2","default":"1","created":"2015-09-08 10:35:41"}



### Set Default Payment Method [PUT /payment/default]



## Payment [/payment]


### Create Payment Method [POST /payment]


+ Request (application/json)

  + Attributes
      + address (string, required) - Street Address
      + address_2 (string, optional) - Unit Number
      + card_token (string, required) - Stripe Credit Card Token
      + card_type (string, required) - Credit Card Brand ie: Visa, American Express, etc
      + city (string, required) - City
      + credit_expires_month (string, required) - Expires Month ie: 06
      + credit_expires_year (string, required) - Expires Year ie: 2016
      + credit_number (string, required) - Last 4 Digits of Credit Card Number
      + first_name (string, required) - Customer First Name
      + last_name (string, required) - Customer Last Name
      + phone (string, optional) - Customer Phone Number
      + state (string, required) - State
      + zip (string, required) - Zip Code
  
    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX
    + Body

            {"first_name":"Ian",   "last_name":"Tucker",   "address":"523 Brown St",   "city":"Napa",   "state":"CA",   "zip":"94559",   "address_2":"",   "phone":"707-501-7491",   "card_token":"XXXXXXXXXXXX",   "card_type":"American Express",   "credit_expires_month":"06",   "credit_expires_year":"2018",   "credit_number":"1234"}

+ Response 200 (application/json)

    + Body

            "4093"



### Delete Payment Method [DELETE /payment/{id}]

+ Parameters
  + id (number, required) - Payment Id





### Get List of Payment Methods [GET /payment]


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"6":{"id":"6","account_token":"cus_6wjTTC7pSoC6da","payment_token":"card_6wjTDZSCFXFoqj","credit_type":"Visa","credit_number":"5125","credit_expires_month":"7","credit_expires_year":"2018","account_uri":"","card_uri":"","profile_id":"0","payment_profile_id":"0","first_name":"Ian","birthday":"","phone":"","company":"","last_name":"Tucker","address":"2210 Tejas Ave","address_2":"","city":"Napa","state":"CA","zip":"94559","customer_id":"2","default":"1","created":"2015-09-08 10:35:41"}}



### Get Payment Details [GET /payment/{id}]

+ Parameters
  + id (number, required) - Payment Id


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"id":"6","account_token":"cus_6wjTTC7pSoC6da","payment_token":"card_6wjTDZSCFXFoqj","credit_type":"Visa","credit_number":"5125","credit_expires_month":"7","credit_expires_year":"2018","account_uri":"","card_uri":"","profile_id":"0","payment_profile_id":"0","first_name":"Ian","birthday":"","phone":"","company":"","last_name":"Tucker","address":"2210 Tejas Ave","address_2":"","city":"Napa","state":"CA","zip":"94559","customer_id":"2","default":"1","created":"2015-09-08 10:35:41"}



### Update Payment Method [PUT /payment/{id}]

+ Parameters
  + id (number, required) - Payment Id



## Group Products
Resources related to Products.


## Products [/products]


### Get Featured Products [GET /products/featured]


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"3":{"id":"3","name":"2009 Cabernet Sauvignon","sku":"AV09NVCS1","price":"65.00","description":"Hundred year old vines have worked their roots deep, deep into the hillside soils of the storied Black Hawk Vineyard in Oakville to produce small amounts of the sultry, supple fruit used in this 100% Cabernet Sauvignon. Aged in a mix of the finest new and used oak for 18 months, then bottled and cellared for an additional 24 months deep in the heart of our century-old cave system, this wine is redolent of black fruit with a hint of spice box, tar, and graphite.  Drink now or age for up to 50 years.","status":"Active","accolades_01":"","additional_description":"\"Unreal. A Napa Valley Cab that is truly worthy drinking.\"<br>\u2014Wine Review Online","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"1","bottle_size":"750mL","case_production":"60","country":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2007","image":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/product\/AV09NVCS1-1204.jpg","image_alt":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/product-alt\/AV10NVCS-4211.jpg","max_purchase_quantity":"9","new_product":"Yes","not_availible_message":"","oak":"40% new, 60% 2 year old","ph":"","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 1, 2012","residual_sugar":"","retail_price":"0.00","short_description":"Destined to be a classic example of an outstanding vintage from the legendary Napa Valley.","soil":"","starting_quantity":"99","status_availability":"Active","subtitle":"Napa Valley","sub_region":"","ta":".06","upc":"","varietal":"CABERNET_BLENDS","vineyard":"Black Hawk","vintage":"2007","winemaker":"Pepe LePepe","wine_type":"RED","categories":{"2":{"id":"2","name":"Past Vintages","sort":"1"}},"quantity":"0"},"5":{"id":"5","name":"2009 Red Blend","sku":"AV10NVRB","price":"38.00","description":"Our Chardonnay was produced from vines located on the south side of our Katie's Hill vineyard. The microclimate of this gentle knoll is just right for producing a white wine that offers rich and supple fruit on the palate while retaining enough acid to keep it light and crisp. The use of restrained oak in the cellar further adds to the depth of this wine, making it one of our personal favorites for starting a meal, or pairing with fish.","status":"Active","accolades_01":"","additional_description":"\"Another wonderfully crisp drinkable Chardonnay from Acme.\"<br>\u2014Wine Reviewer","aging":"3 months in second year Oak","alcohol":"13.5","appellation":"Rutherford Napa Valley","blend":"98% Chardonnay, 2% Viognier","bottle_count":"1","bottle_size":"750mL","case_production":"235","cost":"0.00","country":"","custom01":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"September 2, 2010","image":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/product\/AV10NVRB-3972.jpg","image_alt":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/product-alt\/AV10NVCH-2610.jpg","label":"","max_purchase_quantity":"","not_availible_message":"","oak":"Francois Freres French Oak","ph":"","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"October 2011","residual_sugar":"","retail_price":"40.00","shipping_offer_min":"","short_description":"Estate-grown Chardonnay from Katie's Hill Vineyard","soil":"","starting_quantity":"999","status_availability":"","subtitle":"Napa Valley","sub_region":"","ta":"","tasting_notes_pdf":"","upc":"","varietal":"CHARDONNAY","vineyard":"Katie's Hill Vineyard","vintage":"2009","winemaker":"Owen Benson","wine_type":"WHITE","categories":{"2":{"id":"2","name":"Past Vintages","sort":"2"}},"quantity":"50"},"7":{"id":"7","name":"2010 Reserve Cabernet Sauvignon","sku":"AV10NVRCS","price":"75.00","description":"","status":"Archived","accolades_01":"","additional_description":"\"This is one of my all-time favorite $100 bottles of wine.\"<br>\u2014Wine Reviewer","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"1","bottle_size":"750mL","case_production":"46","cost":"60.00","country":"","custom01":"","custom02":"","custom03":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2010","image":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/product\/AV10NVRCS-3914.jpg","image_alt":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/products\/alt\/AV10NVRCS-1165.jpg","label":"","max_purchase_quantity":"","min_purchase_quantity":"3","new_product":"Yes","not_availible_message":"Sorry this item is not available for purchase.","no_comparison":"","oak":"40% new, 60% 2 year old","ph":"","product_category":"Wine","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 2012","residual_sugar":"","retail_price":"80.00","shipping_offer_min":"","short_description":"","soil":"","starting_quantity":"99","status_availability":"","subtitle":"Napa Valley, Small Lot Reserve","sub_region":"","ta":"","tasting_notes_pdf":"","tax_exempt":"0","upc":"","varietal":"CABERNET_BLENDS","vineyard":"Black Sparrow","vintage":"2010","winemaker":"Pepe LePepe","wine_type":"RED","categories":{"1":{"id":"1","name":"New Releases","sort":"1"}},"quantity":"4000"},"14":{"id":"14","name":"2014 Ros\u00e9","sku":"12312312312","price":"45","description":"<em>Hundred year old vines have worked their roots deep, deep into the hillside soils of the storied Black Hawk Vineyard in Oakville to produce small amounts of the sultry, supple fruit used in this 100% Cabernet Sauvignon.<\/em> <br><br>Aged in a mix of the finest new and used oak for 18 months, then bottled and cellared for an additional 24 months deep in the heart of our century-old cave system, this wine is redolent of black fruit with a hint of spice box, tar, and graphite.  <strong>Drink now or age for up to 50 years.<\/strong>","status":"Active","accolades_01":"","additional_description":"\"Unreal. A Napa Valley Cab that is truly worthy drinking.\"<br>\u2014Wine Review Online","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"1","bottle_size":"","case_production":"60","cost":"0.00","country":"","custom01":"","custom02":"","custom03":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2007","image":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/product\/12312312312-1725.jpg","image_alt":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/product-alt\/AV10NVCS-4211.jpg","label":"","max_purchase_quantity":"36","min_purchase_quantity":"","not_availible_message":"","oak":"40% new, 60% 2 year old","ph":"","product_category":"Wine","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 1, 2012","residual_sugar":"","retail_price":"65.00","review":"Hello","reviewer":"Acme","score":"99","shipping_included":"0","shipping_offer_min":"","short_description":"Destined to be a classic example of an outstanding vintage from the legendary Napa Valley.","soil":"","stainless":"","starting_quantity":"99","status_availability":"Active","subtitle":"Napa Valley","sub_region":"","ta":".06","tasting_notes_pdf":"","tax_exempt":"0","upc":"","varietal":"","vineyard":"Black Hawk","vintage":"2007","winemaker":"Pepe LePepe","wine_type":"RED","categories":{"1":{"id":"1","name":"New Releases","sort":"2"}},"quantity":"12000"},"17":{"id":"17","name":"2012 Cabernet Sauvignon","sku":"454646878","price":"65.00","description":"Hundred year old vines have worked their roots deep, deep into the hillside soils of the storied Black Hawk Vineyard in Oakville to produce small amounts of the sultry, supple fruit used in this 100% Cabernet Sauvignon. Aged in a mix of the finest new and used oak for 18 months, then bottled and cellared for an additional 24 months deep in the heart of our century-old cave system, this wine is redolent of black fruit with a hint of spice box, tar, and graphite.  Drink now or age for up to 50 years.","status":"Archived","accolades_01":"","additional_description":"<strong>\"Unreal. A Napa Valley Cab that is truly worthy drinking.\"<\/strong><br>\u2014Wine Review Online","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"3","bottle_size":"","case_production":"60","country":"","custom01":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2007","image":"","image_alt":"","image_alt_3":"","max_purchase_quantity":"","not_availible_message":"","oak":"40% new, 60% 2 year old","ph":"","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 1, 2012","residual_sugar":"","retail_price":"0.00","shipping_offer_min":"","short_description":"Destined to be a classic example of an outstanding vintage from the legendary Napa Valley.","soil":"","starting_quantity":"99","status_availability":"Active","subtitle":"Napa Valley","sub_region":"","ta":".06","upc":"","varietal":"","vineyard":"Black Hawk","vintage":"2007","winemaker":"Pepe LePepe","wine_type":"RED","categories":[],"quantity":"467"},"20":{"id":"20","name":"2011 Cabernet Sauvignon","sku":"555","price":"65.00","description":"Hundred year old vines have worked their roots deep, deep into the hillside soils of the storied Black Hawk Vineyard in Oakville to produce small amounts of the sultry, supple fruit used in this 100% Cabernet Sauvignon. Aged in a mix of the finest new and used oak for 18 months, then bottled and cellared for an additional 24 months deep in the heart of our century-old cave system, this wine is redolent of black fruit with a hint of spice box, tar, and graphite.  Drink now or age for up to 50 years.","status":"Archived","accolades_01":"","additional_description":"\"Unreal. A Napa Valley Cab that is truly worthy drinking.\"<br>\u2014Wine Review Online","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"","bottle_size":"","case_production":"60","country":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2007","image":"","image_alt":"","image_alt_3":"","max_purchase_quantity":"","not_availible_message":"","oak":"40% new, 60% 2 year old","ph":"","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 1, 2012","residual_sugar":"","retail_price":"0.00","review":"Hellooo","reviewer":"Acme","score":"98","short_description":"Destined to be a classic example of an outstanding vintage from the legendary Napa Valley.","soil":"","starting_quantity":"99","status_availability":"","subtitle":"Napa Valley","sub_region":"","ta":".06","upc":"","varietal":"","vineyard":"Black Hawk","vintage":"2007","winemaker":"Pepe LePepe","wine_type":"RED","categories":[],"quantity":"840"},"22":{"id":"22","name":"2012 Cabernet Sauvignon","sku":"asdfasdfasdf","price":"65.00","description":"Hundred year old vines have worked their roots deep, deep into the hillside soils of the storied Black Hawk Vineyard in Oakville to produce small amounts of the sultry, supple fruit used in this 100% Cabernet Sauvignon. Aged in a mix of the finest new and used oak for 18 months, then bottled and cellared for an additional 24 months deep in the heart of our century-old cave system, this wine is redolent of black fruit with a hint of spice box, tar, and graphite.  Drink now or age for up to 50 years.","status":"Archived","accolades_01":"","additional_description":"\"Unreal. A Napa Valley Cab that is truly worthy drinking.\"<br>\u2014Wine Review Online","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"1","bottle_size":"","case_production":"60","country":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2007","image":"","image_alt":"","image_alt_3":"","max_purchase_quantity":"36","not_availible_message":"","oak":"40% new, 60% 2 year old","ph":"","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 1, 2012","residual_sugar":"","retail_price":"0.00","review":"Hello","reviewer":"Acme","score":"99","short_description":"Destined to be a classic example of an outstanding vintage from the legendary Napa Valley.","soil":"","starting_quantity":"99","status_availability":"Active","subtitle":"Napa Valley","sub_region":"","ta":".06","upc":"","varietal":"","vineyard":"Black Hawk","vintage":"2007","winemaker":"Pepe LePepe","wine_type":"RED","categories":{"1":{"id":"1","name":"New Releases","sort":"3"}},"quantity":"0"},"24":{"id":"24","name":"2011 Reserve Cabernet Sauvignon","sku":"322345345","price":"100.00","description":"Hundred year old vines have worked their roots deep, deep into the hillside soils of the storied Black Hawk Vineyard in Oakville to produce small amounts of the sultry, supple fruit used in this 100% Cabernet Sauvignon. Aged in a mix of the finest new and used oak for 18 months, then bottled and cellared for an additional 24 months deep in the heart of our century-old cave system, this wine is redolent of black fruit with a hint of spice box, tar, and graphite.  Drink now or age for up to 50 years. \r\n\r\nLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.","status":"Archived","accolades_01":"","additional_description":"\"This is one of my all-time favorite $100 bottles of wine.\"<br>\u2014Wine Reviewer","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"","bottle_size":"","case_production":"46","country":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2010","image":"","image_alt":"","image_alt_3":"","max_purchase_quantity":"","new_product":"Yes","not_availible_message":"Next release coming Spring 2015","no_comparison":"","oak":"40% new, 60% 2 year old","ph":"","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 2012","residual_sugar":"","retail_price":"125.00","shipping_offer_min":"","short_description":"Destined to be a classic example of an outstanding vintage from the legendary Napa Valley","soil":"","starting_quantity":"99","status_availability":"","subtitle":"Napa Valley, Small Lot Reserve","sub_region":"","ta":"","upc":"","varietal":"CABERNET_BLENDS","vineyard":"Black Sparrow","vintage":"2010","winemaker":"Pepe LePepe","wine_type":"RED","categories":[],"quantity":"304"},"31":{"id":"31","name":"2014 Reserve Cabernet Sauvignon","sku":"123123213123123213","price":"80.00","description":"Hundred year old vines have worked their roots deep, deep into the hillside soils of the storied Black Hawk Vineyard in Oakville to produce small amounts of the sultry, supple fruit used in this 100% Cabernet Sauvignon. Aged in a mix of the finest new and used oak for 18 months, then bottled and cellared for an additional 24 months deep in the heart of our century-old cave system, this wine is redolent of black fruit with a hint of spice box, tar, and graphite.  Drink now or age for up to 50 years. \r\n\r\nLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.","status":"Active","accolades_01":"","additional_description":"\"This is one of my all-time favorite $100 bottles of wine.\"<br>\u2014Wine Reviewer","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"5","bottle_size":"750mL","case_production":"46","country":"","custom01":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2010","image":"","image_alt":"","image_alt_3":"","max_purchase_quantity":"","new_product":"Yes","not_availible_message":"Sorry this item is not available for purchase.","no_comparison":"","oak":"40% new, 60% 2 year old","ph":"","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 2012","residual_sugar":"","retail_price":"100.00","shipping_offer_min":"","short_description":"Destined to be a classic example of an outstanding vintage from the legendary Napa Valley","soil":"","starting_quantity":"99","status_availability":"","subtitle":"Napa Valley, Small Lot Reserve","sub_region":"","ta":"","upc":"","varietal":"CABERNET_BLENDS","vineyard":"Black Sparrow","vintage":"2010","winemaker":"Pepe LePepe","wine_type":"RED","categories":[],"quantity":"603"},"32":{"id":"32","name":"2012 Reserve Cabernet Sauvignon","sku":"212nvcs","price":"80.00","description":"Hundred year old vines have worked their roots deep, deep into the hillside soils of the storied Black Hawk Vineyard in Oakville to produce small amounts of the sultry, supple fruit used in this 100% Cabernet Sauvignon. Aged in a mix of the finest new and used oak for 18 months, then bottled and cellared for an additional 24 months deep in the heart of our century-old cave system, this wine is redolent of black fruit with a hint of spice box, tar, and graphite.  Drink now or age for up to 50 years. \r\n\r\nLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.","status":"Active","accolades_01":"","additional_description":"\"This is one of my all-time favorite $100 bottles of wine.\"<br>\u2014Wine Reviewer","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"3","bottle_size":"750mL","case_production":"46","country":"","custom01":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2010","image":"","image_alt":"","image_alt_3":"","max_purchase_quantity":"","new_product":"Yes","not_availible_message":"Sorry this item is not available for purchase.","no_comparison":"","oak":"40% new, 60% 2 year old","ph":"","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 2012","residual_sugar":"","retail_price":"100.00","shipping_offer_min":"","short_description":"Destined to be a classic example of an outstanding vintage from the legendary Napa Valley","soil":"","starting_quantity":"99","status_availability":"","subtitle":"Napa Valley, Small Lot Reserve","sub_region":"","ta":"","upc":"","varietal":"CABERNET_BLENDS","vineyard":"Black Sparrow","vintage":"2010","winemaker":"Pepe LePepe","wine_type":"RED","categories":[],"quantity":"653"},"33":{"id":"33","name":"2011 Reserve Cabernet Sauvignon","sku":"AV11NVRCS","price":"80.00","description":"Hundred year old vines have worked their roots deep, deep into the hillside soils of the storied Black Hawk Vineyard in Oakville to produce small amounts of the sultry, supple fruit used in this 100% Cabernet Sauvignon. Aged in a mix of the finest new and used oak for 18 months, then bottled and cellared for an additional 24 months deep in the heart of our century-old cave system, this wine is redolent of black fruit with a hint of spice box, tar, and graphite.  Drink now or age for up to 50 years. \r\n\r\nLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.","status":"Active","accolades_01":"","additional_description":"\"This is one of my all-time favorite $100 bottles of wine.\"<br>\u2014Wine Reviewer","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"3","bottle_size":"750mL","case_production":"46","country":"","custom01":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2010","image":"","image_alt":"","image_alt_3":"","max_purchase_quantity":"","new_product":"Yes","not_availible_message":"Sorry this item is not available for purchase.","no_comparison":"","oak":"40% new, 60% 2 year old","ph":"","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 2012","residual_sugar":"","retail_price":"100.00","shipping_offer_min":"","short_description":"Destined to be a classic example of an outstanding vintage from the legendary Napa Valley","soil":"","starting_quantity":"99","status_availability":"","subtitle":"Napa Valley, Small Lot Reserve","sub_region":"","ta":"","upc":"","varietal":"CABERNET_BLENDS","vineyard":"Black Sparrow","vintage":"2010","winemaker":"Pepe LePepe","wine_type":"RED","categories":[],"quantity":"499"},"34":{"id":"34","name":"2011 Reserve Cabernet Sauvignon","sku":"sdfadfasdfds","price":"75.00","description":"","status":"Active","accolades_01":"","additional_description":"\"This is one of my all-time favorite $100 bottles of wine.\"<br>\u2014Wine Reviewer","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"1","bottle_size":"750mL","case_production":"46","cost":"60.00","country":"","custom01":"","custom02":"","custom03":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2010","image":"","image_alt":"","image_alt_3":"","label":"","max_purchase_quantity":"","min_purchase_quantity":"3","new_product":"Yes","not_availible_message":"Sorry this item is not available for purchase.","no_comparison":"","oak":"40% new, 60% 2 year old","ph":"","product_category":"Wine","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 2012","residual_sugar":"","retail_price":"80.00","shipping_offer_min":"","short_description":"","soil":"","starting_quantity":"99","status_availability":"","subtitle":"Napa Valley, Small Lot Reserve","sub_region":"","ta":"","tasting_notes_pdf":"","tax_exempt":"0","upc":"","varietal":"CABERNET_BLENDS","vineyard":"Black Sparrow","vintage":"2010","winemaker":"Pepe LePepe","wine_type":"RED","categories":[],"quantity":"600"},"35":{"id":"35","name":"2011 Reserve Cabernet Sauvignon","sku":"asdfasdf323","price":"75.00","description":"","status":"Active","accolades_01":"","additional_description":"\"This is one of my all-time favorite $100 bottles of wine.\"<br>\u2014Wine Reviewer","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"1","bottle_size":"750mL","case_production":"46","cost":"60.00","country":"","custom01":"","custom02":"","custom03":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2010","image":"","image_alt":"","image_alt_3":"","label":"","max_purchase_quantity":"","min_purchase_quantity":"3","new_product":"Yes","not_availible_message":"Sorry this item is not available for purchase.","no_comparison":"","oak":"40% new, 60% 2 year old","ph":"","product_category":"Wine","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 2012","residual_sugar":"","retail_price":"80.00","shipping_offer_min":"","short_description":"","soil":"","starting_quantity":"99","status_availability":"","subtitle":"Napa Valley, Small Lot Reserve","sub_region":"","ta":"","tasting_notes_pdf":"","tax_exempt":"0","upc":"","varietal":"CABERNET_BLENDS","vineyard":"Black Sparrow","vintage":"2010","winemaker":"Pepe LePepe","wine_type":"RED","categories":[],"quantity":"12000"},"36":{"id":"36","name":"2012 Reserve Cabernet Sauvignon","sku":"asdfasdfasdfas","price":"75.00","description":"","status":"Active","accolades_01":"","additional_description":"\"This is one of my all-time favorite $100 bottles of wine.\"<br>\u2014Wine Reviewer","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"1","bottle_size":"750mL","case_production":"46","cost":"60.00","country":"","custom01":"","custom02":"","custom03":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2010","image":"","image_alt":"","image_alt_3":"","label":"","max_purchase_quantity":"","min_purchase_quantity":"3","new_product":"Yes","not_availible_message":"Sorry this item is not available for purchase.","no_comparison":"","oak":"40% new, 60% 2 year old","ph":"","product_category":"Wine","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 2012","residual_sugar":"","retail_price":"80.00","shipping_offer_min":"","short_description":"","soil":"","starting_quantity":"99","status_availability":"","subtitle":"Napa Valley, Small Lot Reserve","sub_region":"","ta":"","tasting_notes_pdf":"","tax_exempt":"0","upc":"","varietal":"CABERNET_BLENDS","vineyard":"Black Sparrow","vintage":"2010","winemaker":"Pepe LePepe","wine_type":"RED","categories":[],"quantity":"9000"},"38":{"id":"38","name":"2015 Ros\u00e9","sku":"yyuhjij","price":"65","description":"<em>Hundred year old vines have worked their roots deep, deep into the hillside soils of the storied Black Hawk Vineyard in Oakville to produce small amounts of the sultry, supple fruit used in this 100% Cabernet Sauvignon.<\/em> <br><br>Aged in a mix of the finest new and used oak for 18 months, then bottled and cellared for an additional 24 months deep in the heart of our century-old cave system, this wine is redolent of black fruit with a hint of spice box, tar, and graphite.  <strong>Drink now or age for up to 50 years.<\/strong>","status":"Active","accolades_01":"","additional_description":"\"Unreal. A Napa Valley Cab that is truly worthy drinking.\"<br>\u2014Wine Review Online","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"1","bottle_size":"","case_production":"60","cost":"0.00","country":"","custom01":"","custom02":"","custom03":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2007","image":"","image_alt":"","image_alt_3":"","label":"","max_purchase_quantity":"36","min_purchase_quantity":"","not_availible_message":"","oak":"40% new, 60% 2 year old","ph":"","product_category":"Wine","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 1, 2012","residual_sugar":"","retail_price":"0.00","review":"Hello","reviewer":"Acme","score":"99","shipping_offer_min":"","short_description":"Destined to be a classic example of an outstanding vintage from the legendary Napa Valley.","soil":"","starting_quantity":"99","status_availability":"Active","subtitle":"Napa Valley","sub_region":"","ta":".06","tasting_notes_pdf":"","tax_exempt":"0","upc":"","varietal":"","vineyard":"Black Hawk","vintage":"2007","winemaker":"Pepe LePepe","wine_type":"RED","categories":[],"quantity":"842"}}



### Get First Product In Category Queue [GET /categories/{id}/first_product]

+ Parameters
  + id (number, required) - Category Id


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"id":"1","name":"2013 Luna Wine Example","sku":"13EXWINE","price":"65","description":"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.","status":"Active","accolades_01":"","additional_description":"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.","aging":"","alcohol":"14.1","appellation":"Napa Valley","best_web":"85.00","blend":"100% Cabernet Sauvignon","bottle_count":"1","bottle_size":"750mL","case_production":"300","country":"","custom01":"","farming_method":"","free_shipping":"","harvest_date":"","image":"//s3.amazonaws.com/efcheckout/apppress/products/13EXWINE-5621.jpg","image_zoom":"//s3.amazonaws.com/efcheckout/apppress/products/zoom/13EXWINE-9604.jpg","location":"","max_purchase_quantity":"36","not_availible_message":"","oak":"100% French","ph":"","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"","residual_sugar":"","retail_price":"100.00","shipping_offer_min":"4","short_description":"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.","soil":"","source":"","starting_quantity":"1000","status_availability":"Active","subtitle":"","sub_region":"","ta":"","upc":"","varietal":"CABERNET_BLENDS","vineyard":"","vintage":"2013","winemaker":"","wine_type":"RED","categories":{"1":{"id":"1","name":"Live","sort":"1"}},"quantity":"500","reviews":[{"score":"93","reviewer":"Grant G.","review":"Irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."},{"score":"92","reviewer":"Tyson C.","review":"Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit."}]}



### Get List of Available Products [GET /products/]


+ Request (application/json)

    + Headers

            X-Session-Id:XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"3":{"id":"3","name":"2009 Cabernet Sauvignon","sku":"AV09NVCS1","price":"65.00","description":"Hundred year old vines have worked their roots deep, deep into the hillside soils of the storied Black Hawk Vineyard in Oakville to produce small amounts of the sultry, supple fruit used in this 100% Cabernet Sauvignon. Aged in a mix of the finest new and used oak for 18 months, then bottled and cellared for an additional 24 months deep in the heart of our century-old cave system, this wine is redolent of black fruit with a hint of spice box, tar, and graphite.  Drink now or age for up to 50 years.","status":"Active","accolades_01":"","additional_description":""Unreal. A Napa Valley Cab that is truly worthy drinking."<br>u2014Wine Review Online","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"1","bottle_size":"750mL","case_production":"60","country":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2007","image":"//s3.amazonaws.com/efcheckout/acmev/product/AV09NVCS1-1204.jpg","image_alt":"//s3.amazonaws.com/efcheckout/acmev/product-alt/AV10NVCS-4211.jpg","max_purchase_quantity":"9","new_product":"Yes","not_availible_message":"","oak":"40% new, 60% 2 year old","ph":"","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 1, 2012","residual_sugar":"","retail_price":"0.00","short_description":"Destined to be a classic example of an outstanding vintage from the legendary Napa Valley.","soil":"","starting_quantity":"99","status_availability":"Active","subtitle":"Napa Valley","sub_region":"","ta":".06","upc":"","varietal":"CABERNET_BLENDS","vineyard":"Black Hawk","vintage":"2007","winemaker":"Pepe LePepe","wine_type":"RED","categories":{"2":{"id":"2","name":"Past Vintages","sort":"1"}},"quantity":"0"},"5":{"id":"5","name":"2009 Red Blend","sku":"AV10NVRB","price":"38.00","description":"Our Chardonnay was produced from vines located on the south side of our Katie's Hill vineyard. The microclimate of this gentle knoll is just right for producing a white wine that offers rich and supple fruit on the palate while retaining enough acid to keep it light and crisp. The use of restrained oak in the cellar further adds to the depth of this wine, making it one of our personal favorites for starting a meal, or pairing with fish.","status":"Active","accolades_01":"","additional_description":""Another wonderfully crisp drinkable Chardonnay from Acme."<br>u2014Wine Reviewer","aging":"3 months in second year Oak","alcohol":"13.5","appellation":"Rutherford Napa Valley","blend":"98% Chardonnay, 2% Viognier","bottle_count":"1","bottle_size":"750mL","case_production":"235","cost":"0.00","country":"","custom01":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"September 2, 2010","image":"//s3.amazonaws.com/efcheckout/acmev/product/AV10NVRB-3972.jpg","image_alt":"//s3.amazonaws.com/efcheckout/acmev/product-alt/AV10NVCH-2610.jpg","label":"","max_purchase_quantity":"","not_availible_message":"","oak":"Francois Freres French Oak","ph":"","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"October 2011","residual_sugar":"","retail_price":"40.00","shipping_offer_min":"","short_description":"Estate-grown Chardonnay from Katie's Hill Vineyard","soil":"","starting_quantity":"999","status_availability":"","subtitle":"Napa Valley","sub_region":"","ta":"","tasting_notes_pdf":"","upc":"","varietal":"CHARDONNAY","vineyard":"Katie's Hill Vineyard","vintage":"2009","winemaker":"Owen Benson","wine_type":"WHITE","categories":{"2":{"id":"2","name":"Past Vintages","sort":"2"}},"quantity":"50"},"7":{"id":"7","name":"2010 Reserve Cabernet Sauvignon","sku":"AV10NVRCS","price":"75.00","description":"","status":"Archived","accolades_01":"","additional_description":""This is one of my all-time favorite $100 bottles of wine."<br>u2014Wine Reviewer","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"1","bottle_size":"750mL","case_production":"46","cost":"60.00","country":"","custom01":"","custom02":"","custom03":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2010","image":"//s3.amazonaws.com/efcheckout/acmev/pro
[...]
